@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text: hsl(0, 0%, 100%);
  --text-secondary: hsl(0, 0%, 91%);
  --accent: white;
  --accent-light: hsl(212 100% 94%);
  --code-background: hsl(0, 6%, 38%);
  --font-sail: Sail;
  --font-afacad: Afacad;
}

.aspect-video {
  margin-bottom: 1rem;
  border-radius: 8px;
  overflow: hidden;
}

@keyframes heart-burst {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.4);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes heart-ping {
  75%, 100% {
    transform: scale(1.5);
    opacity: 0;
  }
}

.animate-heart-burst {
  animation: heart-burst 0.3s ease-in-out;
}

.animate-heart-ping {
  animation: heart-ping 0.3s cubic-bezier(0, 0, 0.2, 1);
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.scrollbar-hide {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.scrollbar-hide::-webkit-scrollbar {
  width: 0;
  height: 0;
}

html {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
html::-webkit-scrollbar {
  display: none;
}